    body {
        background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p2/2285604-preto-abstrato-fundo-com-caracteristicas-de-sobreposicao-vetor.jpg');
        background-size: cover;
        background-position: botton;
        background-repeat: no-repeat;

    }

    .card {
        background-color: rgba(255, 0, 0, 0.4);
        margin-top: 150px;


    }