{% extends 'template.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Opção 1</a>
                    <a href="#" class="list-group-item list-group-item-action">Opção 2</a>
                    <a href="#" class="list-group-item list-group-item-action">Opção 3</a>
                </div>
            </div>
            <div class="col-md-10">
                <h1>Área do Corretor</h1>
            </div>
        </div>
    </div>
{% endblock %}
