
{% extends 'template.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='cadastro_corretor.css') }}">

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cadastro de Corretor</h4>
                <form action="/cadastro_corretor" method="POST">
                    <div class="position-relative">
                        <label  class="form-label">Nome</label>
                        <input type="text" class="form-control custom-input" id="nome_corretor" name="nome_corretor" >
                    </div>
                    <div class="position-relative">
                        <label class="form-label">Endereço</label>
                        <input type="text" class="form-control custom-input" id="endereco_corretor" name="endereco_corretor" >

                    </div>
                    <div class="custom-input-group">
                        <div class="position-relative" style="width: 48%;">
                            <label class="form-label">Cidade</label>
                            <input type="text" class="form-control custom-input" id="cidade_corretor" name="cidade_corretor" >

                        </div>
                        <div class="position-relative" style="width: 48%;">
                            <label class="form-label">Estado</label>
                            <input type="text" class="form-control custom-input" id="estado_corretor" name="estado_corretor" >

                        </div>
                    </div>
                    <div class="custom-input-group">
                        <div class="position-relative" style="width: 48%;">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control custom-input" id="email_corretor" name="email_corretor">
                            <div class="valid-tooltip">
                                Parece bom!
                            </div>
                        </div>
                        <div class="position-relative" style="width: 48%;">
                            <label  class="form-label">Senha</label>
                            <input type="password" class="form-control custom-input" id="senha_corretor" name="senha_corretor" >
                        </div>
                    </div>
                    <div class="position-relative">
                        <label  class="form-label">CPF</label>
                        <input type="text" class="form-control custom-input" id="CPF_corretor" name="CPF_corretor">

                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-warning" type="submit" id="cadastro-btn">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
