{% extends "template.html" %}

{% block content %}
    <div class="container">
        <h1>Editar Propriedade</h1>

        <form action="/propriedades/{{ editar_imovel._id }}/editar" method="POST">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tipo">Tipo de Propriedade:</label>
                        <select class="form-control" name="tipo" id="tipo">
                            <option value="casa" {% if editar_imovel.tipo == 'casa' %}selected{% endif %}>Casa</option>
                            <option value="terreno" {% if editar_imovel.tipo == 'terreno' %}selected{% endif %}>Terreno</option>
                            <option value="apartamento" {% if editar_imovel.tipo == 'apartamento' %}selected{% endif %}>Apartamento</option>
                            <option value="flat" {% if editar_imovel.tipo == 'flat' %}selected{% endif %}>Flat</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="rua">Rua:</label>
                        <input class="form-control" type="text" name="rua" id="rua" value="{{ editar_imovel.rua }}">
                    </div>

                    <div class="form-group">
                        <label for="numero">Número:</label>
                        <input class="form-control" type="text" name="numero" id="numero" value="{{ editar_imovel.numero }}">
                    </div>

                    <div class="form-group">
                        <label for="bairro">Bairro:</label>
                        <input class="form-control" type="text" name="bairro" id="bairro" value="{{ editar_imovel.bairro }}">
                    </div>

                    <div class="form-group">
                        <label for="cidade">Cidade:</label>
                        <input class="form-control" type="text" name="cidade" id="cidade" value="{{ editar_imovel.cidade }}">
                    </div>

                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <input class="form-control" type="text" name="estado" id="estado" value="{{ editar_imovel.estado }}">
                    </div>

                    <div class="form-group">
                        <label for="descricao">Descrição do Imóvel:</label>
                        <textarea class="form-control description-box" name="descricao" id="descricao">{{ editar_imovel.descricao }}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="imagem"> Imagem:</label>
                        <input class="form-control" type="file" name="imagem" id="imagem">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="area">Área do Imóvel:</label>
                        <input class="form-control" type="number" name="area" id="area" value="{{ editar_imovel.area }}">
                    </div>

                    <div class="form-group">
                        <label for="valor">Valor do Imóvel:</label>
                        <input class="form-control" type="number" name="valor" id="valor" value="{{ editar_imovel.valor }}">
                    </div>

                    <div class="form-group">
                        <label for="quartos">Quantidade de Quartos:</label>
                        <input class="form-control" type="number" name="quartos" id="quartos" value="{{ editar_imovel.quartos }}">
                    </div>

                    <div class="form-group">
                        <label for="suites">Quantidade de Suítes:</label>
                        <input class="form-control" type="number" name="suites" id="suites" value="{{ editar_imovel.suites }}">
                    </div>

                    <div class="form-group">
                        <label for="salas">Quantidade de Salas:</label>
                        <input class="form-control" type="number" name="salas" id="salas" value="{{ editar_imovel.salas }}">
                    </div>

                    <div class="form-group">
                        <label for="cozinhas">Quantidade de Cozinhas:</label>
                        <input class="form-control" type="number" name="cozinhas" id="cozinhas" value="{{ editar_imovel.cozinhas }}">
                    </div>

                    <div class="checkbox-column">
                        <div class="checkbox-group">
                            <input type="checkbox" name="piscina" id="piscina" {% if editar_imovel.piscina %}checked{% endif %}>
                            <label for="piscina">Piscina</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="praia" id="praia" {% if editar_imovel.praia %}checked{% endif %}>
                            <label for="praia">Perto da Praia</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="lazer" id="lazer" {% if editar_imovel.lazer %}checked{% endif %}>
                            <label for="lazer">Área de Lazer</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="quintal" id="quintal" {% if editar_imovel.quintal %}checked{% endif %}>
                            <label for="quintal">Quintal</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="jardim" id="jardim" {% if editar_imovel.jardim %}checked{% endif %}>
                            <label for="jardim">Jardim</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="varanda" id="varanda" {% if editar_imovel.varanda %}checked{% endif %}>
                            <label for="varanda">Varanda</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="solarium" id="solarium" {% if editar_imovel.solarium %}checked{% endif %}>
                            <label for="solarium">Solarium</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="quadra" id="quadra" {% if editar_imovel.quadra %}checked{% endif %}>
                            <label for="quadra">Quadra de Esporte</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="elevador" id="elevador" {% if editar_imovel.elevador %}checked{% endif %}>
                            <label for="elevador">Elevador</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Salvar">
            </div>
        </form>

        <div id="image-container"></div>

        <script>
            // Função para carregar a imagem
            function carregarImagem() {
                var url = document.getElementById('url').value;
                var imageContainer = document.getElementById('image-container');
                imageContainer.innerHTML = ''; // Limpar o conteúdo do contêiner de imagem

                if (url !== '') {
                    var img = document.createElement('img');
                    img.src = url;
                    img.classList.add('img-fluid');
                    imageContainer.appendChild(img);
                }
            }

            // Evento para carregar a imagem quando o URL é alterado
            document.getElementById('url').addEventListener('input', carregarImagem);
        </script>
    </div>
{% endblock %}
