{% extends "template.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Excluir Propriedade</h1>
                <form action="/propriedades/excluir" method="POST">
                    <div class="form-group">
                        <label for="id_propriedade">ID da Propriedade:</label>
                        <input type="text" name="id_propriedade" id="id_propriedade" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </form>
            </div>
            <div class="col-md-6">
                {% if excluir_imovel %}
                <div class="card">
                    <div class="card-header">{{ excluir_imovel.tipo }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ excluir_imovel.valor }}</h5>
                        <p class="card-text"><strong>Quartos:</strong> {{ excluir_imovel.quartos }}</p>
                        <p class="card-text"><strong>Suites:</strong> {{ excluir_imovel.suites }}</p>
                        <p class="card-text"><strong>Salas:</strong> {{ excluir_imovel.salas }}</p>
                        <p class="card-text"><strong>Cozinhas:</strong> {{ excluir_imovel.cozinhas }}</p>
                        <!-- Adicione as demais informações da propriedade aqui -->
                        <p class="card-text"><strong>Rua:</strong> {{ excluir_imovel.rua }}</p>
                        <p class="card-text"><strong>Número:</strong> {{ excluir_imovel.numero }}</p>
                        <p class="card-text"><strong>Bairro:</strong> {{ excluir_imovel.bairro }}</p>
                        <p class="card-text"><strong>Cidade:</strong> {{ excluir_imovel.cidade }}</p>
                        <p class="card-text"><strong>Estado:</strong> {{ excluir_imovel.estado }}</p>
                        <p class="card-text"><strong>Área:</strong> {{ excluir_imovel.area }}</p>
                        <p class="card-text"><strong>Descrição:</strong> {{ excluir_imovel.descricao }}</p>
                        <!-- Adicione as demais informações da propriedade aqui -->
                    </div>
                </div>
                <form action="/propriedades/excluir/{{ excluir_imovel._id }}" method="POST">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
