{% extends "template.html" %}

{% block content %}
    <div class="container">
        <h1>Detalhes da Propriedade</h1>

        <div class="card">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">{{ propriedade.tipo if propriedade else 'Propriedade não encontrada' }}</h5>
                        <p class="card-text">Quartos: {{ propriedade.quartos }}</p>
                        <p class="card-text">Suítes: {{ propriedade.suites }}</p>
                        <p class="card-text">Salas: {{ propriedade.salas }}</p>
                        <p class="card-text">Cozinhas: {{ propriedade.cozinhas }}</p>
                        <p class="card-text">Valor: {{ valor_formatado if valor_formatado else 'N/A' }}</p>
                        <p class="card-text">Rua: {{ propriedade.rua }}</p>
                        <p class="card-text">Número: {{ propriedade.numero }}</p>
                        <p class="card-text">Bairro: {{ propriedade.bairro }}</p>
                        <p class="card-text">Cidade: {{ propriedade.cidade }}</p>
                        <p class="card-text">Estado: {{ propriedade.estado }}</p>
                        <p class="card-text">Área: {{ propriedade.area }}</p>
                        <p class="card-text">Descrição: {{ propriedade.descricao }}</p>

                        <h5>Características:</h5>
                        <ul>
                            {% if propriedade.piscina %}
                                <li>Piscina</li>
                            {% endif %}
                            {% if propriedade.praia %}
                                <li>Perto da Praia</li>
                            {% endif %}
                            {% if propriedade.lazer %}
                                <li>Área de Lazer</li>
                            {% endif %}
                            {% if propriedade.quintal %}
                                <li>Quintal</li>
                            {% endif %}
                            {% if propriedade.jardim %}
                                <li>Jardim</li>
                            {% endif %}
                            {% if propriedade.varanda %}
                                <li>Varanda</li>
                            {% endif %}
                            {% if propriedade.solarium %}
                                <li>Solarium</li>
                            {% endif %}
                            {% if propriedade.quadra %}
                                <li>Quadra de Esporte</li>
                            {% endif %}
                            {% if propriedade.elevador %}
                                <li>Elevador</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    {% if propriedade.imagem %}
                        <img src="{{ url_for('exibir_imagem', id=propriedade._id) }}" alt="Imagem da Propriedade" class="propriedade-imagem">
                    {% else %}
                        <p>Nenhuma imagem disponível.</p>
                        <img src="https://via.placeholder.com/150" alt="Placeholder" class="img-thumbnail">
                    {% endif %}
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <a href="{{ url_for('editar_propriedade', id=propriedade['_id']) }}" class="btn btn-primary">Editar</a>
                    <a href="{{ url_for('confirmar_exclusao', id=propriedade['_id']) }}" class="btn btn-danger">Excluir</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        .propriedade-imagem {
            max-width: 100%;
            height: auto;
        }
    </style>

{% endblock %}
