{% extends 'template.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">


    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Login</h4>
                <form  action="/login" method="POST">
                    <style>
                        .custom-input {
                            background-color: transparent;
                            border-color: #ffc107;
                            font-size: small;
                            color: white;
                        }
                    </style>
                    <div class="position-relative">
                        <label  class="form-label">CPF do Usuário</label>
                        <input type="text" class="form-control custom-input" id="CPF_corretor" name="CPF_corretor" >
                    </div>
                    <div class="position-relative">
                        <label  class="form-label">Senha</label>
                        <input type="password" class="form-control custom-input" id="senha_corretor" name="senha_corretor" >
                    </div>
                    <br>
                    <div class="text-center mt-3">
                        <button class="btn btn-warning" type="submit" id="login-btn">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
