{% extends "template.html" %}

{% block content %}
 <style>
        .form-control {
            border-radius: 10px;
            background-color: transparent;
            border-color: #ffc107;
            font-size: small;
            color: white;
        }
    </style>
    <div class="container">
        <h1>Nova Propriedade</h1>

        <form action="/propriedades/nova" method="POST" enctype="multipart/form-data" >
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tipo">Tipo de Propriedade:</label>
                        <select class="form-control" name="tipo" id="tipo">
                            <option value="Casa">Casa</option>
                            <option value="Terreno">Terreno</option>
                            <option value="Apartamento">Apartamento</option>
                            <option value="Flat">Flat</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="rua">Rua:</label>
                        <input class="form-control" type="text" name="rua" id="rua">
                    </div>

                    <div class="form-group">
                        <label for="numero">Número:</label>
                        <input class="form-control" type="text" name="numero" id="numero">
                    </div>

                    <div class="form-group">
                        <label for="bairro">Bairro:</label>
                        <input class="form-control" type="text" name="bairro" id="bairro">
                    </div>

                    <div class="form-group">
                        <label for="cidade">Cidade:</label>
                        <input class="form-control" type="text" name="cidade" id="cidade">
                    </div>

                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <input class="form-control" type="text" name="estado" id="estado">
                    </div>

                    <div class="form-group">
                        <label for="descricao">Descrição do Imóvel:</label>
                        <textarea class="form-control description-box" name="descricao" id="descricao"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="imagem"> Imagem:</label>
                        <input class="form-control" type="file" name="imagem" id="imagem">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col">
                            <label for="area">Área do Imóvel:</label>
                            <input class="form-control" type="number" name="area" id="area">
                        </div>
                        <div class="col">
                            <label for="valor">Valor do Imóvel:</label>
                            <input class="form-control" type="number" name="valor" id="valor">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col">
                            <label for="quartos">Quantidade de Quartos:</label>
                            <input class="form-control" type="number" name="quartos" id="quartos">
                        </div>
                        <div class="col">
                            <label for="suites">Quantidade de Suítes:</label>
                            <input class="form-control" type="number" name="suites" id="suites">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col">
                            <label for="salas">Quantidade de Salas:</label>
                            <input class="form-control" type="number" name="salas" id="salas">
                        </div>
                        <div class="col">
                            <label for="cozinhas">Quantidade de Cozinhas:</label>
                            <input class="form-control" type="number" name="cozinhas" id="cozinhas">
                        </div>
                    </div>

                    <div class="checkbox-column">
                        <div class="checkbox-group">
                            <input type="checkbox" name="piscina" id="piscina">
                            <label for="piscina">Piscina</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="praia" id="praia">
                            <label for="praia">Perto da Praia</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="lazer" id="lazer">
                            <label for="lazer">Área de Lazer</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="quintal" id="quintal">
                            <label for="quintal">Quintal</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="jardim" id="jardim">
                            <label for="jardim">Jardim</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="varanda" id="varanda">
                            <label for="varanda">Varanda</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="solarium" id="solarium">
                            <label for="solarium">Solarium</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="quadra" id="quadra">
                            <label for="quadra">Quadra de Esporte</label>
                        </div>

                        <div class="checkbox-group">
                            <input type="checkbox" name="elevador" id="elevador">
                            <label for="elevador">Elevador</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Salvar">
            </div>
        </form>

        <div id="image-container"></div>

        <script>
            // Função para carregar a imagem
            function carregarImagem() {
                var url = document.getElementById('url').value;
                var imageContainer = document.getElementById('image-container');
                imageContainer.innerHTML = ''; // Limpar o conteúdo do contêiner de imagem

                if (url !== '') {
                    var img = document.createElement('img');
                    img.src = url;
                    img.classList.add('img-fluid');
                    imageContainer.appendChild(img);
                }
            }

            // Evento para carregar a imagem quando o URL é alterado
            document.getElementById('url').addEventListener('input', carregarImagem);
        </script>
    </div>
{% endblock %}
