{% extends 'template.html' %}

{% block content %}

<div class="alert alert-success d-flex align-items-center justify-content-center" role="alert" style="margin-top: 150px; width: 50%; margin-left: auto; margin-right: auto;">
  <div>
    <body>
      <h1>Corretor adicionado com sucesso!</h1>
      <p>O Corretor foi adicionado à base de dados.</p>
      <a href="/">Voltar para a página inicial</a>
      <a href="/area_corretor" style="margin-left: 200px;">Voltar para a Área do Corretor</a>

    </body>
  </div>
</div>
{% endblock %}
