{% extends 'template.html' %}

{% block content %}

<div class="alert alert-success d-flex align-items-center justify-content-center" role="alert" style="margin-top: 150px; width: 50%; margin-left: auto; margin-right: auto;">
  <div>
    <body>
      <h1>Propriedade adicionada com sucesso!</h1>
      <p>A propriedade foi adicionada à base de dados.</p>
      <a href="/propriedades">Voltar para a lista de propriedades</a>
      <a href="/area_corretor" style="margin-left: 189px;">Voltar para a Área do Corretor</a>

    </body>
  </div>
</div>
{% endblock %}
